##---------------------------------------------------------------------------##
## DENOVO REGRESSION CRON
##---------------------------------------------------------------------------##

## GCC Regression on Tue/Thur/Sat (2,4,6) mornings
0 21 * * 1,2,3,4,5     /home/kto/bin/run_amp                fissile /home/kto/                                        2> /home/kto/testingAMP/logs/run_amp.stderr         > /home/kto/testingAMP/logs/run_amp.stdout
0  1 * * 1,2,3,4,5,6,7 /home/kto/testingAMP/run_test        fissile /home/kto/testingAMP/                             2> /home/kto/testingAMP/logs/run_test.stderr        > /home/kto/testingAMP/logs/run_test.stdout
0  3 * * 1,2,3,4,5,6,7 /home/kto/testingAMP/noorigen_run    fissile /home/kto/testingAMP/                             2> /home/kto/testingAMP/logs/run_noorigen.stderr    > /home/kto/testingAMP/logs/run_noorigen.stdout
0 22 * * 1,2,3,4,5,6,7 /home/kto/testingAMP/run_autodoc     fissile /home/kto/testingAMP/ /home/kto/documentationAMP/ 2> /home/kto/testingAMP/logs/run_autodoc.stderr     > /home/kto/testingAMP/logs/run_autodoc.stdout
0 18 * * 6             /home/kto/testingAMP/run_weekly_test fissile /home/kto/testingAMP/                             2> /home/kto/testingAMP/logs/run_weekly_test.stderr > /home/kto/testingAMP/logs/run_weekly_test.stdout

##---------------------------------------------------------------------------##
## end of crontab
##---------------------------------------------------------------------------##
